<div class="section-main">
  <div class="section-left">
    <img
      src="https://images.unsplash.com/photo-1560607985-ba7df7f6faf6?q=80&w=1452&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="">
  </div>
  <div class="section-right">
    <div class="title">
      <h1>მატარებლის ბილეთები</h1>
    </div>
    <div class="about">
      <p>Lorem ipsum ro blanditiis?</p>
    </div>
    <div class="container-list">
      <div class="container">
        <img src="https://www.freeiconspng.com/thumbs/offers-icon/offers-icon-17.png" alt="">
        <h4>შეთავაზებები</h4>
      </div>
      <div class="container">
        <img src="https://cdn-icons-png.freepik.com/512/9827/9827073.png" alt="">
        <h4>100% დაცული</h4>
      </div>
      <div class="container">
        <img src="https://cdn-icons-png.freepik.com/512/5269/5269933.png" alt="">
        <h4>24/7 მხარდაჭერა</h4>
      </div>
      <div class="container">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-security-2369919-1977296.png" alt="">
        <h4>ონლაინ გადახდა</h4>
      </div>
    </div>
  </div>
</div>