<!-- <div class="pay-page">
  <h1>Ticket Information</h1>
  <div class="ticket-info" *ngIf="ticketDetails">
    <div class="ticket-details">
      <p><strong>ბილეთის ნომერი:</strong> {{ ticketDetails.ticketNumber }}</p>
      <p><strong>სახელი:</strong> {{ ticketDetails.passengerName }}</p>
      <p><strong>მატარებლის ნომერი:</strong> {{ ticketDetails.trainNumber }}</p>
      <p>
        <strong>გამგზავრების თარიღი:</strong> {{ ticketDetails.departureDate }}
      </p>
      <p>
        <strong>გამგზავრების დრო:</strong> {{ ticketDetails.departureTime }}
      </p>
      <p><strong>ადგილის ნომერი:</strong> {{ ticketDetails.seatNumber }}</p>
    </div>
    <div class="cancel-button-area">
      <button class="cancel-button" (click)="onCancel()">
        Cancel All Tickets
      </button>
    </div>
  </div>
  <div *ngIf="!ticketDetails"></div>
</div> -->
